<style>
  .badge-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .badge-container > img {
    border-radius: 4px;
    width: 40px;
    height: auto;
    background-color: #fff;
    object-fit: fill;
  }
</style>

<div class="badgesContainer" style="display: block; text-align: center; 
    margin-top: 1rem;">
  <div class="badge-container">
    <img src="https://trust.conversionbear.com/../static/badges/mastercard_color_card.svg">
    <img src="https://trust.conversionbear.com/../static/badges/maestro_color.svg" >
    <img src="https://trust.conversionbear.com/../static/badges/visa_1_color.svg">
    <img src="https://trust.conversionbear.com/../static/badges/americanexpress_1_color.svg">
    <img src="https://trust.conversionbear.com/../static/badges/bizum_color.svg" >
    <img src="https://trust.conversionbear.com/../static/badges/bbvabancomer_color.svg">
    <img src="https://trust.conversionbear.com/../static/badges/paypal_2_color.svg">
  </div>
</div>