<a href="#review" class="reviews_stars js-no-transition">
              <div class="aus-pilot">
      
                <style>
            
                  a.reviews_stars {
                  margin-top: 15px;
                  display: block;
                  }
            
                  .tp-widget-stars {
                  margin: 0 0 0px;
                  width: 100%;
                  }
                  div#tp-widget-stars {
                  /* max-width: 120px; */
                  display: flex;
                    justify-content: center;
                  }
                  .aus-pilot {
                  display: flex;
                  align-items: center;
                  margin-bottom: 15px;
            
                  }
            
                  .aus-pilot > span {
                  display: inline-block;
                  margin-left: 8px;
                  font-size: 16px;
                  }
                  a.reviews_stars {
                  text-decoration: none;
                  color: inherit;
                  }
                  span.nsps {
                text-decoration: underline;
            }
            div#tp-widget-stars img {
    max-width: 100%;
    position: relative;
}

                </style>


             
                <div id="tp-widget-stars" class="tp-widget-stars">
                  <div class="" style="margin-right: 10px"><b></b></div>
        <img class="winner_2" height="" width="" style="max-width: 100px; " src="">
                      </div>
                
                    </div>                
                  </a>